<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border shadow">
    <h1 class="text-3xl font-medium text-center text-green-600">Forget password</h1>


    @if (step==1) {
    <form [formGroup]="Verifyemail" (ngSubmit)="VerifyEmailSubmit()">
        <div class="mb-6">
            <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-900">E-mail:</label>
            <input type="email" id="email" formControlName="email"
                class="bg-white border border-gray-200 text-sm rounded-lg focus:ring-gray-500 focus:border-gray block w-full p-2.5 ">

            <button [disabled]="Verifyemail.invalid" class="btn-main" type="submit">Verify E-mail</button>

        </div>

    </form>
    }@else if (step == 2) {
    <form [formGroup]="Verifycode" (ngSubmit)="VerifycodeSubmit()"> 
        <div class="mb-6">
            <label for="Resetcode" class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-900">Reset
                Code</label>
            <input type="text" id="Resetcode" formControlName="resetCode"
                class="bg-white border border-gray-200 text-sm rounded-lg focus:ring-gray-500 focus:border-gray block w-full p-2.5 ">

            <button [disabled]="Verifycode.invalid" class="btn-main" type="submit">Verify Code</button>

        </div>

    </form>
    }@else if (step == 3 ) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPassSubmit()">

        <div class="mb-6">
            <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-900">E-mail:</label>
            <input type="email" id="email" formControlName="email"
                class="bg-white border border-gray-200 text-sm rounded-lg focus:ring-gray-500 focus:border-gray block w-full p-2.5 ">
        </div>

        <div class="mb-6">
            <label for="newPassword" class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-900">New
                Password</label>
            <input type="newPassword" id="newPassword" formControlName="newPassword"
                class="bg-white border border-gray-200 text-sm rounded-lg focus:ring-gray-500 focus:border-gray block w-full p-2.5 ">

            <button [disabled]="resetPassword.invalid" class="btn-main" type="submit">Verify</button>

        </div>

    </form>
    }



</section>